@model IEnumerable<Gotcha.Models.Spel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.safeZone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gameName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.safeZone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beginTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.gameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gameID })
        </td>
    </tr>
}

</table>
